# Settings are simple key-value pairs
#flyway.key=value
# Single line comment start with a hash

# Long properties can be split over multiple lines by ending each line with a backslash
flyway.locations=classpath:ssim/sql
#,\
#filesystem:my/really/long/path/folder2,\
#filesystem:my/really/long/path/folder3

# These are some example settings
flyway.url=	jdbc:h2:mem:ssim
flyway.user=sa
flyway.password=
flyway.schemas=SSIMOUT
#flyway.placeholders.keyABC=valueXYZ